* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: white;
}

body {
    background-color: rgb(246, 248, 249);

}

#logo {
    padding: 20px;
}

.container {
    width: 70%;
    height: 560px;
    margin: 40px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
}

#border_bottom {
    border-bottom: 2px solid rgb(246, 248, 249);
    margin-left: 0%;
}

.border_text {
    display: inline;
    margin: 0 5px;
    border: 1px solid black;
    padding: 3px;
    width: 100px;
    height: 80px;
    border-radius: 5px;
}

.green_mark {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid green;
    color: green;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-left: 3px;
}

.red_cross {
    border-radius: 50%;
    border: 1px solid red;
    color: red;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-left: 3px;
    display: inline-block;
    vertical-align: auto;
}


.border_editorial {
    border-radius: 10px;
    color: white;
    padding: 6px;
    font-size: 10px;
    vertical-align: middle;
    background-color: rgb(9, 169, 237);
}

.border_q1goals {
    border-radius: 10px;
    color: white;
    padding: 6px;
    font-size: 10px;
    vertical-align: middle;
    background-color: rgb(171, 93, 230);

}

.border_recruiting {
    border-radius: 10px;
    color: white;
    padding: 6px;
    font-size: 10px;
    vertical-align: middle;
    background-color: rgb(44, 198, 171);

}

.border_mobile {
    border-radius: 10px;
    color: white;
    padding: 6px;
    font-size: 10px;
    vertical-align: middle;
    background-color: rgb(255, 155, 0);
}

.task_position {
    padding-top: 20px;
}

.buttons {
    padding-bottom: 0.2%;
    margin-bottom: 1%;
}

.Today_position {
    padding-top: 40px;
    line-height: 2;
}

.Upcoming_position {
    padding-top: 40px;
}

.bg_colored {
    background-color: lightblue;
}